FanWiki.scriv/Files/binder.autosave
FanWiki.scriv/Files/binder.backup
FanWiki.scriv/Files/search.indexes
FanWiki.scriv/Files/user.lock
FanWiki.scriv/Files/Docs/docs.checksum
FanWiki.scriv/QuickLook/
FanWiki.scriv/Settings/ui.plist
